@model AccountSoft.Models.Periodo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Periodo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.c_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_anio_fiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_anio_fiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_periodo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.b_periodo_abierto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.b_periodo_abierto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_usuario_creo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_usuario_creo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_creado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_creado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_usuario_modifico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_usuario_modifico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.f_modificado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.f_modificado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
