@model IEnumerable<AccountSoft.Models.Periodo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.c_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_anio_fiscal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_periodo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_periodo_abierto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_usuario_creo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_creado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.c_usuario_modifico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.f_modificado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.c_empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_anio_fiscal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_periodo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_periodo_abierto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_usuario_creo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_creado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_usuario_modifico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.f_modificado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
